<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/css/styleLogin.css}">
  </head>
  <body>
  <h1>Login</h1>
    <form th:action="@{/login}" method="post">
      <label for="username">Username</label>
      <input type="text" id="username" name="username" placeholder="Enter your username" required>

      <label for="password">Password</label>
      <input type="password" id="password" name="password" placeholder="Enter your password" required>

      <button type="submit">Login</button>
    </form>
  <div th:if="${param.error}" style="color:red;">Invalid username or password.</div>
  <div th:if="${param.logout}" style="color:green;">You have been logged out.</div>
  </body>
</html>