<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Register</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" th:href="@{/css/style.css}">
    </head>
    <body>
        <h1>Register</h1>
        <form id="registerForm" th:action="@{/register}" method="post">
            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Email" required>
            <label for="username">Username</label>
            <input type="text" id="username" name="username" placeholder="Username" required>
            <label for="password">Password</label>
            <input type="password" id="password" name="password" placeholder="Password" required>
            <label for="confirmPassword">Confirm Password</label>
            <input type="password" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password" required>
            <button type="submit">Register</button>
        </form>
        <div id="message" style="color: red;"></div>
        <script th:src="@{/js/register.js}"></script>
    </body>
</html>